<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125444595873-92e2ivtgsbf7plp5cp3dhkbt79phpjqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125444595873-92e2ivtgsbf7plp5cp3dhkbt79phpjqi</string>
	<key>API_KEY</key>
	<string>AIzaSyBXVkgolGSk8XkvCPoP3dny8qk7UIpDn-U</string>
	<key>GCM_SENDER_ID</key>
	<string>125444595873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vipitsfirebase</string>
	<key>PROJECT_ID</key>
	<string>swift-backend-3623b</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-backend-3623b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125444595873:ios:dd3ca65bac0434867550e0</string>
</dict>
</plist>